.home_container {
  margin-top: 9rem;
}

.home_top_block {
  display: flex;
  justify-content: space-between;
}

.card_title {
  font-weight: 600 !important;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.last_container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  flex: 1;
}

.last_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.last_header_actions {
  display: flex;
  .button_group {
    margin-left: 16px;
  }
}

.last_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & div {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;
    }
    & span {
      margin: 12px 0px;
    }
  }
}

.price_container {
  min-width: 250px;
  background-color: #f7f7f71f !important;
}

.price_block {
  & div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.last_block_bot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal_body {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;
  margin: 24px 56px 36px 56px;
}

@media screen and (max-width: 1080px) {
  .last_header {
    flex-direction: column;
  }
  .last_header_actions .button_group {
    display: flex;
  }
}
@media screen and (max-width: 780px) {
  .home_top_block {
    padding: 8px;
    flex-direction: column;
  }

  .last_block_bot {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .last_title {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .home_container {
    margin-top: 1rem;
  }

  .last_container {
    width: 100%;
  }

  .last_block {
    flex-direction: column;
    div {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .modal_body {
    width: auto;
    padding: 8px;
    margin: 0;
  }
}
