.home_container {
  margin-top: 9rem;
}

.home_top_block {
  display: flex;
  justify-content: space-between;
}

.card_title {
  font-weight: 600 !important;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.last_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.last_header {
  display: flex;
  justify-content: space-between;
}

.last_header_actions {
  display: flex;
  .button_group {
    margin-left: 16px;
  }
}

.last_block {
  display: flex;
  justify-content: space-between;
  & div {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;
    }
    & span {
      margin: 12px 0px;
    }
  }
}

.price_container {
  min-width: 160px;
  width: 25%;
  .MuiCardContent-root {
    background-color: #f7f7f71f;
  }
}

.price_block {
  & div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.last_block_bot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal_body {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 8px;
  margin: 24px 56px 36px 56px;
}

@media screen and (max-width: 450px) {
  .home_top_block {
    padding: 8px;
    flex-direction: column;
  }
  .home_container {
    margin-top: 1rem;
  }

  .last_container {
    width: 100%;
  }
  .last_title {
    flex-direction: column;
  }
  .last_block_bot {
    flex-direction: column;
    & h4 {
      margin-left: 6px;
    }
    & button {
      background-color: #f7f7f71f;
      margin-bottom: 24px;
    }
  }
  .price_container {
    width: auto;
    padding: 8px;
  }
  .modal_body {
    width: auto;
    padding: 8px;
    margin: 0;
  }
}
